@import "../config.scss";

/* ---------- Base ---------- */
$--primary-color: #1890ff; // 全局主色
$--link-color: #1890ff; // 链接色
$--success-color: #52c41a; // 成功色
$--warning-color: #faad14; // 警告色
$--danger-color: #f5222d; // 错误色
$--info-color: #909399; // info
$--font-size-base: 14px; // 主字号
$--color-white: #fff;
$--heading-color: rgba(0, 0, 0, 0.85); // 标题色
$--text-color: rgba(0, 0, 0, 0.65); // 主文本色
$--text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
$--disabled-color: rgba(0, 0, 0, 0.25); // 失效色
$--border-radius-base: 4px; // 组件/浮层圆角
$--border-color-base: #d9d9d9; // 边框色
$--box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影

/* ---------- Font Size ---------- */
$--font-size-extra-small: 12px !default;
$--font-size-small: 13px !default;
$--font-size-base: 14px !default;
$--font-size-medium: 16px !default;
$--font-size-large: 18px !default;
$--font-size-extra-large: 20px !default;

$--font-weight-primary: 500 !default;

/* ---------- Border ---------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-hover: $--disabled-color !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;

/* ---------- Button ---------- */
$--button-default-background-color: $--color-white;
/// color
$--button-font-color-base: $--text-color;
//// primary
$--button-primary-font-color: $--color-white;
$--button-primary-background-color: $--primary-color;
$--button-primary-border-color: $--primary-color;
//// success
$--button-success-font-color:$--color-white;
$--button-success-background-color: $--success-color;
$--button-success-border-color: $--success-color;
//// warning
$--button-warning-font-color: $--color-white;
$--button-warning-background-color: $--warning-color;
$--button-warning-border-color: $--warning-color;
//// danger
$--button-danger-font-color:$--color-white;
$--button-danger-background-color: $--danger-color;
$--button-danger-border-color: $--danger-color;
//// info
$--button-info-font-color:$--color-white;
$--button-info-background-color: $--info-color;
$--button-info-border-color: $--info-color;
/// height
$--button-height-base: 32px !default;
$--button-height-lg: 40px !default;
$--button-height-sm: 24px !default;
/// padding
$--button-padding-vertical: 8px !default;
$--button-padding-horizontal: 16px !default;
/// radius
$--button-border-radius: $--border-radius-base;
